<!DOCTYPE html>
<html>
<body>



    <h2> Cambio de contraseña</h2>
    <br>


    #{form @canviPassword()  }

    <label>Tu nombre:</label>
    <input type="text" name="n" size="19" /><br>
    <br>

    <label>Antigua contraseña:</label>
    <input type="text" name="p" size="19" /><br>
    <br>


    <label>Nueva contraseña:</label>
    <input type="password" name="np" size="19" />
    <br>
    <br>
    <input type="submit" value="Cambiar" />

    #{/form}

    <br>
    <br>



</body>
</html>


