<!DOCTYPE html>
<html>
<body>
    #{if nop}
    <h3>  ERROR  ${nop} </h3>
    #{/if}


    #{if nopep}
    <h3>  ERROR   ${nopep} </h3>
    #{/if}

    <h4> Has elegido comprar el libro de <span>Las 999 mujeres de Auschwitz</span>. Introduce tu email porfavor</h4>
    <br>


    #{form @comprarLibrobusqueda()  }


    <br>
    <label>Confirma el nombre del libro:</label>
    <input type="text" name="n" size="1" /><br>
    <br>

    <label>Email:</label>
    <input type="text" name="email" size="19" /><br>
    <br>

    <input type="submit" value="Send data" />

    #{/form}

    <br>
    <br>



</body>
</html>