<!DOCTYPE html>
<html>
<body>
    #{if nocorrecto}
    <h3>  Lo siento no ha sido posible   ${nocorrecto} </h3>
    #{/if}

    #{if correcto}
    <h3>  Cambio de contrasena realizado con exito  ${correcto} </h3>
    #{/if}

    #{if nop}
    <h3>  ERROR  ${nop} </h3>
    #{/if}


    #{if nopep}
    <h3>  ERROR   ${nopep} </h3>
    #{/if}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
        <strong><h1 style="color:orange;">Bienvenidos a nuestra librería ${userConnected}!!!!!!! </h1></strong>
        #{if nope}
        <h3>  No queda suficiente stock de este libro  ${nope} </h3>
        #{/if}




        #{form @TancaSessio() }

        <input type="submit" value="Cerrar session" /><br><br>

        #{/form}

        #{form @listarlibrosbtn() }

        <input type="submit" value="Ver libros" /><br><br>

        #{/form}

        #{form @canvipasswordbtn() }

        <input type="submit" value="Cambio de contraseña" /><br><br>

        #{/form}

        #{form @buscarlibrobtn() }

        <input type="submit" value="Buscar por nombre de libro" /><br><br>

        #{/form}
    </center>
    <style>
    body { background-image: url('https://media2.giphy.com/media/128MHrlrHNwwU0/200.gif'); 
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover;

    }
    </style>
</body>
</html>
