<!DOCTYPE html>
<html>
<body>
    <center>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:orange;">UNETE A NUESTRA LIBRERIA ONLINE!!!</h1>
        <br>

        #{form @registerData()  }

        <label>EMAIL:</label>
        <input type="text" name="e" size="19" /><br>
        <br>

        <label>PASSWORD:</label>
        <input type="password" name="p" size="19" />
        <br>
        <label>NAME:</label>
        <input type="text" name="n" size="19" /><br>
        <br>
        <label>DNI:</label>
        <input type="text" name="d" size="19" />
        <br>
        <br>
        <input type="submit" value="Send data" />

        #{/form}
    </center>
        <br>
        <br>



</body>
</html>


