<!DOCTYPE html>
<html>
<head>
   <style>
   body { background-image: url('https://imagenes.20minutos.es/files/og_thumbnail/uploads/imagenes/2019/04/05/923140.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover; }

    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>



        <h3 style="color:white;">
            <p> Varios ni&ntildeos de una peque&ntildea ciudad del estado de Maine se al&iacutean para combatir a una entidad diab&oacutelica que adopta la forma de  </p>
            <p> un payaso y desde hace mucho tiempo emerge cada 27 a&ntildeos para saciarse de sangre infantil. </p>

        </h3>

    </center>


</body>
</html>