<!DOCTYPE html>
<html>
<head>
   <style>
    body { background-image: url('https://i.blogs.es/422261/lord-of-the-rings/1366_2000.jpeg');
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover; 

    }

    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>

       
            <h3 style="color:white;">
                <p> Los Anillos de Poder fueron forjados en antiguos tiempos por los herreros Elfos, y Sauron, el Se&ntildeor </p>
                <p>Oscuro, forj&oacute el Anillo &Uacutenico. Pero en una ocasi&oacuten se lo quitaron, y aunque lo busc&oacute</p>
                <p>por toda la Tierra Media nunca pudo encontrarlo. Al cabo de muchos a&ntildeos fue a caer casualmente en manos del</p>
                <p>hobbit Bilbo Bols&oacuten. Sauron lleg&oacute a reunir todos los Grandes Anillos, pero continuaba buscando el Anillo </p>
                <p>&Uacutenico que completar&iacutea el dominio de Mordor. Bilbo desapareci&oacute durante la celebraci&oacuten de su </p>
                <p>centesimodecimoprimer cumplea&ntildeos, y dej&oacute a Frodo a cargo del Anillo, y con una peligrosa misi&oacuten por delante:</p>
                <p>atravesar la Tierra Media,internarse en las sombras del Pa&iacutes Oscuro y destruir el Anillo arroj&aacutendolo en las Grietas del Destino.</p>
            </h3>
       
    </center>


</body>
</html>