<!DOCTYPE html>
<html>
<head>
   <style>
   body { background-image: url('https://phantom-elmundo.unidadeditorial.es/cebe12ac3e71f81053495fc73cbd0d23/crop/0x0/1722x1148/resize/1200/f/jpg/assets/multimedia/imagenes/2020/02/11/15814385703255.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; }

    </style>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>


        
            <h3 style="color:black;">
                <p> Una incre&iacuteble historia de amistad, sororidad y supervivencia. La historia de las primeras 999 mujeres jud&iacuteas  </p>
                <p> que fueron enviadas al campo de exterminio.El 25 de marzo de 1942, cientos de j&oacutevenes mujeres jud&iacuteas y solteras abandonaron </p>
                <p>sus hogares para subir a un tren. Estaban impecablemente vestidas y peinadas, y arrastraban sus maletas llenas de ropa tejida a mano y comida  </p>
                <p>casera. La mayor&iacutea de estas mujeres y ni&ntildeas nunca hab&iacutean pasado ni una noche fuera de casa, pero se hab&iacutean ofrecido voluntariamente para trabajar </p>
                <p>durante tres meses en &eacutepoca de guerra.&iquestTres meses de trabajo? No pod&iacutea ser algo tan malo. Ninguno de sus padres habr&iacutea    </p>
                <p>adivinado que el gobierno acababa de vender a sus hijas a los nazis para trabajar como esclavas. Ninguno sab&iacutea que estaban destinadas a Auschwitz.</p>
            </h3>
       
    </center>


</body>
</html>