<!DOCTYPE html>
<html>
<body>

    <h1> TIENDA DE LIBROS</h1>

    #{form @listarLibros()  }

    <div class="page-content">
        <h2> Titulo: El senor de los anillos</h2>
        <h3> Autor: J.R. Tolkien</h3>
        <img src="libro1.jpg">
        <h4> Precio: 15 euros</h4>
        <button>comprar</button>
    </div>

    <div class="page-content">
        <h2> Titulo: Harry Potter y la piedra filosofal</h2>
        <h3> Autor: J.K. Rowlling</h3>
        <img src="libro2.jpg">
        <h4> Precio: 20 euros</h4>
        <button>comprar</button>
    </div>

</body>
</html>