<!DOCTYPE html>
<html>
<head>

</head>
<body>

    #{if nope}
    <h3 style="color:white;">  No queda suficiente stock de este libro  ${nope} </h3>
    #{/if}
    <center>
        <i> <h1 style="background-color:DodgerBlue;"> TIENDA DE LIBROS</h1> </i>
        <div class="page-content">
            <img src="https://m.media-amazon.com/images/I/816QLZKwmIL.jpg"
                 vspace="20"
                 align="left"
                 width="300"
                 height="341"
                 display:inline-block>
            <br>
            <br>
            <br>
            <h2>T&iacutetulo: El se&ntildeor de los anillos</h2>
            <h3>Autor: J.R. Tolkien</h3>
            <h4>Precio: 15 euros</h4>

        </div>

        #{form @comprar1btn() }


        <input type="submit" value="Compra" style='width:70px; height:25px'><br><br>
        #{/form}

        #{form @sinopsis1() }

        <input type="submit" value="Sinopsis" style='width:70px; height:25px'><br><br>
        #{/form}

        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="page-content">
            <img src="https://m.media-amazon.com/images/I/91R1AixEiLL.jpg"
                 width="300"
                 align="right"
                 vspace="20"
                 height="341"
                 display:inline-block>
            <br>
            <br>
            <br>
            <h2> T&iacutetulo: Harry Potter y la piedra filosofal</h2>
            <h3> Autor: J.K. Rowling</h3>
            <h4> Precio: 20 euros</h4>


            #{form @comprar2btn() }

            <input type="submit" value="Comprar" style='width:70px; height:25px'><br><br>

            #{/form}
            #{form @sinopsis2() }

            <input type="submit" value="Sinopsis" style='width:70px; height:25px'><br><br>
            #{/form}

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="page-content">
            <img src="https://m.media-amazon.com/images/I/41gKvww2vsL.jpg"
                 width="300"
                 align="left"
                 vspace="20"
                 height="341"
                 display:inline-block>
            <br>
            <br>
            <br>
            <h2> T&iacutetulo: Las 999 mujeres de Auschwitz</h2>
            <h3> Autor: Heather Dune Macadam</h3>
            <h4> Precio: 22.99 euros</h4>


            #{form @comprar3btn() }

            <input type="submit" value="Comprar" style='width:70px; height:25px'><br><br>

            #{/form}
            #{form @sinopsis3() }

            <input type="submit" value="Sinopsis" style='width:70px; height:25px'><br><br>
            #{/form}

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="page-content">
            <img src="https://m.media-amazon.com/images/I/41lHSBlaSPL.jpg"
                 width="300"
                 align="right"
                 vspace="20"
                 height="341"
                 display:inline-block>
            <br>
            <br>
            <br>
            <h2> T&iacutetulo: IT</h2>
            <h3> Autor: Stephen King</h3>
            <h4> Precio: 22 euros</h4>


            #{form @comprar4btn() }

            <input type="submit" value="Comprar" style='width:70px; height:25px'><br><br>

            #{/form}
            #{form @sinopsis4() }

            <input type="submit" value="Sinopsis" style='width:70px; height:25px'><br><br>
            #{/form}
           
        </div>


    </center>



</body>
</html>